* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 4em;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}