:root {
  --main-max-width: 980px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--main-max-width);
  align-self: center;
}

@media screen and (max-width: 980px) {
  main {
    width: 100%;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: black;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }
}